@font-face {
  font-family: "Go";
  src: local("Go Bold Italic"), local("Go-BoldItalic"),
    url("/assets/fonts/go/Go-BoldItalic.woff2") format("woff2"),
    url("/assets/fonts/go/Go-BoldItalic.woff") format("woff"),
    url("/assets/fonts/go/Go-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Go";
  src: local("Go Bold"), local("Go-Bold"),
    url("/assets/fonts/go/Go-Bold.woff2") format("woff2"),
    url("/assets/fonts/go/Go-Bold.woff") format("woff"),
    url("/assets/fonts/go/Go-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Go";
  src: local("Go Italic"), local("Go-Italic"),
    url("/assets/fonts/go/Go-Italic.woff2") format("woff2"),
    url("/assets/fonts/go/Go-Italic.woff") format("woff"),
    url("/assets/fonts/go/Go-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Go Mono";
  src: local("Go Mono"), local("GoMono"),
    url("/assets/fonts/go/GoMono.woff2") format("woff2"),
    url("/assets/fonts/go/GoMono.woff") format("woff"),
    url("/assets/fonts/go/GoMono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Go";
  src: local("Go Medium"), local("GoMedium"),
    url("/assets/fonts/go/GoMedium.woff2") format("woff2"),
    url("/assets/fonts/go/GoMedium.woff") format("woff"),
    url("/assets/fonts/go/GoMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Go";
  src: local("Go Medium Italic"), local("GoMedium-Italic"),
    url("/assets/fonts/go/GoMedium-Italic.woff2") format("woff2"),
    url("/assets/fonts/go/GoMedium-Italic.woff") format("woff"),
    url("/assets/fonts/go/GoMedium-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Go Mono";
  src: local("Go Mono Bold Italic"), local("GoMono-BoldItalic"),
    url("/assets/fonts/go/GoMono-BoldItalic.woff2") format("woff2"),
    url("/assets/fonts/go/GoMono-BoldItalic.woff") format("woff"),
    url("/assets/fonts/go/GoMono-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Go";
  src: local("Go Regular"), local("GoRegular"),
    url("/assets/fonts/go/GoRegular.woff2") format("woff2"),
    url("/assets/fonts/go/GoRegular.woff") format("woff"),
    url("/assets/fonts/go/GoRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Go Mono";
  src: local("Go Mono Italic"), local("GoMono-Italic"),
    url("/assets/fonts/go/GoMono-Italic.woff2") format("woff2"),
    url("/assets/fonts/go/GoMono-Italic.woff") format("woff"),
    url("/assets/fonts/go/GoMono-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Go Mono";
  src: local("Go Mono Bold"), local("GoMono-Bold"),
    url("/assets/fonts/go/GoMono-Bold.woff2") format("woff2"),
    url("/assets/fonts/go/GoMono-Bold.woff") format("woff"),
    url("/assets/fonts/go/GoMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Go Smallcaps";
  src: local("Go Smallcaps Italic"), local("GoSmallcaps-Italic"),
    url("/assets/fonts/go/GoSmallcaps-Italic.woff2") format("woff2"),
    url("/assets/fonts/go/GoSmallcaps-Italic.woff") format("woff"),
    url("/assets/fonts/go/GoSmallcaps-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Go Smallcaps";
  src: local("Go Smallcaps"), local("GoSmallcaps"),
    url("/assets/fonts/go/GoSmallcaps.woff2") format("woff2"),
    url("/assets/fonts/go/GoSmallcaps.woff") format("woff"),
    url("/assets/fonts/go/GoSmallcaps.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
