:root {
  --dark-anchor: #c48000;
  --dark-bg-editor-line: #173740;
  --dark-bg-mono: #12414d;
  --dark-bg-topbar: #207e95;
  --dark-bg: #002b36;
  --dark-border: #035064;
  --dark-fg-gray: #76888a;
  --dark-fg: #b4c5c7;
  --dark-adminition-note-bg: #333333;
}

body {
  margin: 0;
  font-family: "Go", Arial, sans-serif;
  background-color: #fff;
  line-height: 1.3;
  text-align: center;
  color: #222;
}
pre,
code {
  font-family: "Go Mono", Menlo, monospace;
  font-size: 0.875rem;
}
pre {
  line-height: 1.4;
  overflow-x: auto;
  background: #efefef;
  padding: 0.625rem;
  border-radius: 0.3125rem;
}
a {
  color: #007d9c;
  text-decoration: none;
}
a.anchor {
  position: absolute;
  z-index: 1001;
  width: 1.5ex;
  margin-left: -1.5ex;
  display: block;
  text-decoration: none !important;
  visibility: hidden;
  text-align: center;
  font-weight: 400;
}
a.anchor:hover {
  cursor: pointer;
  outline: 0;
  visibility: visible;
}
a.anchor::before {
  content: "\00A7";
  font-size: 0.85em;
  display: block;
  padding-top: 0.1em;
}

p,
li {
  max-width: 50rem;
  word-wrap: break-word;
}
p,
pre,
ul,
ol {
  margin: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.25rem 0 1.25rem;
  padding: 0.5rem 0.5rem 0.5rem 1.25rem;
  color: #007d9c;
  font-weight: bold;
}
h1 {
  padding: 0.5rem 0;
  font-size: 1.75rem;
  line-height: 1;
}
h1 .text-muted {
  color: #777;
}
h2 {
  clear: right;
  font-size: 1.25rem;
  background: #e0ebf5;
  line-height: 1.25;
  font-weight: normal;
  overflow: auto;
  overflow-wrap: break-word;
}
h2 a {
  font-weight: bold;
}
h3 {
  font-size: 1.25rem;
  line-height: 1.25;
  overflow: auto;
  overflow-wrap: break-word;
}
h3,
h4 {
  margin: 1.25rem 0rem;
}
h4 {
  font-size: 1rem;
}

h2 > span,
h3 > span {
  float: right;
  margin: 0 25px 0 0;
  font-weight: normal;
  color: #5279c7;
}
h1:hover > a.anchor,
h2:hover > a.anchor,
h3:hover > a.anchor,
h4:hover > a.anchor,
h5:hover > a.anchor,
h6:hover > a.anchor {
  visibility: visible;
}

dl {
  margin: 1.25rem;
}
dd {
  margin: 0 0 0 1.25rem;
}
dd p {
  margin: 0.5rem 0 1.25rem 1.25rem;
}
td p {
  margin: 0 0 0 1.25rem;
}

/**
 * Custom classes for pages
 */

.topbar {
  background: #e0ebf5;
  height: 4rem;
  overflow: hidden;
}

.topbar .top-heading,
.topbar .menu {
  padding: 1.313rem 0;
  font-size: 1.25rem;
  font-weight: normal;
}
.topbar .top-heading {
  float: left;
}
.topbar .top-heading a {
  color: #222;
  text-decoration: none;
}

.top-heading .header-logo {
  height: 2rem;
  width: 5.125rem;
}

.topbar .menu {
  float: right;
}
.topbar .menu a {
  margin: 0.625rem 0.125rem;
  padding: 0.625rem;
  color: white;
  background: #007d9c;
  border: 0.0625rem solid #007d9c;
  border-radius: 5px;
}
.topbar .menu form {
  display: inline-block;
}

.page {
  width: 100%;
}

.page > .container,
.topbar > .container,
.footer > .container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.25rem;
  max-width: 59.38rem;
}

.videoblock {
  text-align: center;
}

.page > .container {
  text-align: left;
}

.container .meta {
  font-style: italic;
  margin: 1.25rem;
}

#footer {
  display: none;
}
.footer {
  text-align: center;
  color: #666;
  font-size: 0.875rem;
  margin: 2.5rem 0;
}

/** Custom classes for asciidoc */
#toctitle {
  display: none;
}
#toc li {
  list-style: none;
}
#toc ul .sectlevel1 {
  padding: 0px;
  margin: 4px;
}
#toc ul .sectlevel2 {
  margin: 4px;
}

.admonitionblock {
  margin: 0 auto 1em auto;
}
.admonitionblock.note {
  background-color: #e0ebf5;
  border-radius: 0.5em;
}
.admonitionblock .icon {
  border-right: 1px solid white;
  font-weight: bold;
  padding: 0.5em;
  text-transform: uppercase;
}
.admonitionblock .content {
  padding: 0.5em;
}
@media screen and (max-width: 992px) {
  #toc {
    all: unset;
  }
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: var(--dark-bg);
  }
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--dark-fg);
  }
  a,
  a:link,
  a:visited {
    color: var(--dark-anchor);
  }
  blockquote,
  input,
  pre,
  textarea {
    background-color: var(--dark-bg-mono);
    color: var(--dark-fg);
  }
  .admonitionblock.note {
    background-color: var(--dark-adminition-note-bg);
  }
  .admonitionblock .icon {
    border-right: 1px solid #555555;
  }
  .page > .container,
  .page > .playground,
  .topbar {
    border-color: var(--dark-border);
  }
  h2,
  .playground > .actions,
  .topbar {
    background-color: var(--dark-bg-topbar);
    color: var(--dark-fg);
  }
  .topbar .top-heading a {
    color: var(--dark-fg);
  }
  .topbar .menu a {
    background-color: var(--dark-bg);
    color: var(--dark-anchor);
  }
  .footer {
    color: var(--dark-fg-gray);
  }
}
