<!DOCTYPE html lang="id">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Situs komunitas Bahasa Go Indonesia" />
    <meta keywords="Bahasa Go Indonesia" />
    <meta name="robots" content="index,follow" />

    <title>{{.Title}}</title>
    <link rel="stylesheet" href="//storage.googleapis.com/umum.kilabit.info/assets/fonts/go/stylesheet.css" />
{{- if ne .EmbeddedCSS ""}}
    <style>
{{.EmbeddedCSS}}
    </style>
{{- end }}
    <link rel="stylesheet" href="/index.css" />
    {{- range .Styles}}
    <link rel="stylesheet" href="{{.}}" />
    {{- end}}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0RXEYS3MQ0"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-0RXEYS3MQ0');
    </script>
</head>

<body>
    <div class="topbar">
        <a class="item title" href="/">
            <img class="item header-logo" src="/assets/go-logo-white.svg" />
        </a>
        <a class="item" href="https://tour.golang-id.org" target="_blank">Tur</a>
        <a class="item" href="/doc/">Dokumentasi</a>
        <a class="item" href="/blog/">Blog</a>
        <a class="item" href="https://go.dev/play/" target="_blank">Coba</a>
        <form class="item" action="/_internal/search">
            <input type="text" name="q" placeholder="Cari" />
        </form>
    </div>

    <div class="page">
        <div class="container">
            {{.Body}}
        </div>
        <!-- .container -->
    </div>
    <!-- #page -->

    <div class="footer">
        <div class="container">
            Halaman situs ini berlisensikan
            <a href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a>, dan sumber kode berlisensikan <a href="/LICENSE">BSD</a>.
            <br />
            Dibangun menggunakan
            <a href="https://sr.ht/~shulhan/ciigo">ciigo</a>.
        </div>
    </div>
</body>

</html>
