<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content="#375EAB" />

		<title>{{.Title}}</title>
		<link rel="stylesheet" href="/assets/style.css" />

		{{- range .Styles}}
		<link rel="stylesheet" href="{{.}}" />
		{{- end}}

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=UA-2502278-10"
		></script>
		<script>
			window.dataLayer = window.dataLayer || []
			function gtag() {
				dataLayer.push(arguments)
			}
			gtag("js", new Date())

			gtag("config", "UA-2502278-10")
		</script>
	</head>
	<body>
		<div class="topbar">
			<div class="container">
				<div class="top-heading">
					<a href="/">
						<img class="header-logo" src="/assets/go-logo-blue.svg" />
					</a>
				</div>
				<div class="menu">
					<a href="https://tour.golang-id.org" target="_blank">Tur</a>
					<a href="/doc">Dokumentasi</a>
					<a href="/blog">Blog</a>
					<a href="https://play.golang.org" target="_blank">Coba</a>
					<form class="item" action="/_internal/search">
						<input type="text" name="q" placeholder="Cari" />
					</form>
				</div>
			</div>
		</div>

		<div class="page">
			<div class="container">
				<h1>{{.Title}}</h1>
				{{ if .Author }}
				<div class="meta">
					{{.Author}}
					<br />
					{{.Date}}
				</div>
				{{ end }} {{.Body}}
			</div>
			<!-- .container -->
		</div>
		<!-- #page -->

		<div class="footer">
			<div class="container">
				Halaman situs ini berlisensikan
				<a href="https://creativecommons.org/licenses/by/3.0/"
					>Creative Commons Attribution 3.0</a
				>, dan sumber kode berlisensikan <a href="/LICENSE">BSD</a>.
				<br />
				Dibangun menggunakan
				<a href="https://github.com/shuLhan/ciigo">ciigo</a>.
			</div>
		</div>
	</body>
</html>
